{{ "games-management"|trans }}
{{ "management"|trans }}
{{ "wins"|trans }}
{{ "bets-management"|trans }}
{{ "management"|trans }}
{{ "wins"|trans }}
{{ "wins-bets"|trans }}
{{ "wins-summary"|trans }}
{{ "users-management"|trans }}
{{ "management"|trans }}
{{ "money-requests"|trans }}
{{ "admins-management"|trans }}
{{ "list"|trans }}
{{ "groups"|trans }}
{{ "system-settings"|trans }}
{{ "calendar-events"|trans }}
{{ "ticket-prices"|trans }}
{{ "share-prices"|trans }}
{{ "coupon-close"|trans }}
{{ "coupon-map"|trans }}
{{ "auto-player"|trans }}
{{ "misc"|trans }}
{{ "panel_test"|trans }}
{{ "panel_test_run"|trans }}