{% if form is defined %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}

<html lang="pl">
<head>

    <title>{{ "Admin Panel Title"|trans }}</title>
    <link rel="stylesheet" media="all" href="{{ asset("static/panel/css/main.min.css") }}">


</head>
<body class="skin-blue sidebar-mini">
<header class="main-header">
    <!-- Logo -->
    <a href="{{ path("panel_index") }}" class="logo">
        <span class="logo-mini"><b>100</b></span>
        <span class="logo-lg"><b>100</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li class="user user-menu">

                        <a href="#">
                            {{ app.user.email }}
                        </a>

                    </li>
                    <li>
                        <a href="{{ path("panel_security_logout") }}">{{ "Logout"|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </nav>
</header>
{% if app.user %}
    <aside class="main-sidebar">
        <section class="sidebar">

            {{ knp_menu_render('panel_menu', {'ancestorClass': 'active', 'currentClass': 'active', 'template': '@BackendPanel/Layout/knp_menu.html.twig'}) }}
        </section>
    </aside>
{% endif %}

<div class="content-wrapper">

    <section class="content-header">
        <h1>
            {% block body_h1 %}
            {% endblock %}

        </h1>
    </section>


    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default">

                    <div class="box-body">
                        {{ render_flash_alerts() }}
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript" src="{{ asset('static/panel/js/main-lib.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('static/panel/js/main.min.js') }}"></script>
</body>
</html>