{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendUserBundle:AdminList:index{% endblock %}

{% block body_h1 %}
    {{ "User list"|trans }}
{% endblock %}

{% block body %}



    {{ form_start(form) }}
    {{ form_rest(form) }}
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-primary">{{ "Filter"|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ "table-id"|trans }}</th>
            <th>{{ "table-name-surname"|trans }}</th>
            <th>{{ "table-login-email"|trans }}</th>
            <th>{{ "table-user-amount"|trans }}</th>
            <th>{{ "table-win-sum"|trans }}</th>
            <th>{{ "table-fates"|trans }}</th>
            <th>{{ "table-actions"|trans }}</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <th>{{ user.id }}</th>
                <td>
                    {{ user.firstname }}
                    {{ user.lastname }}
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.amount }}</td>
                <td>TO DO</td>
                <td nowrap="">
                    <small>{{ user.createdAt|date("Y-m-d H:i:s") }}</small>
                    <br>
                    <small>{{ user.lastLogin|date("Y-m-d H:i:s") }}</small>
                </td>
                <td>
                    <a href="{{ path("panel_user_detail", {user:user.id}) }}">{{ "Manage"|trans }}</a>
                    <a href="{{ path("panel_user_detail_note", {user:user.id}) }}">{{ "Note"|trans }}</a>
                    <a target="_blank" href="{{ path("panel_user_login", {user:user.id}) }}">{{ "Login"|trans }}</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


    {% include "@FrontendCore/Layout/_paginator.html.twig" with {paginator:users} %}

{% endblock %}
