{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendPanelBundle:GameCalendar:index{% endblock %}

{% block body_h1 %}
    {{ "Share price"|trans }}
{% endblock %}
{% block body %}



    {{ form_start(form) }}
    <div class="hide">
        <button type="submit" name="pre"></button>
    </div>
    <table class="table table-bordered">





        <tr>
            <th class="text-right">
                {{ "System commision"|trans }}
            </th>
            <td>
                {{ form_widget(form.commision) }} % <br>

                {{ form_widget(form.commision_button_ceil) }} {{ "Ceil commision"|trans }}<br>
            </td>
        </tr>
        <tr>
            <th class="text-right">{{ "Share count per coupon"|trans }}</th>
            <td>
                {{ form_widget(form.share_count) }}
            </td>
        </tr>
        <tr>
            <th></th>
            <td>{{ form_widget(form.commision_recount) }}</td>

        </tr>


    </table>



    <table class="table table-bordered">

        <tr>
            <td></td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>

        </tr>
        <tr>
            <th>Lotto</th>
            <td>{{ form_widget(form.l.7) }}</td>
            <td>{{ form_widget(form.l.8) }}</td>
            <td>{{ form_widget(form.l.9) }}</td>
            <td>{{ form_widget(form.l.10) }}</td>
            <td>{{ form_widget(form.l.11) }}</td>
            <td>{{ form_widget(form.l.12) }}</td>

        </tr>
        <tr>
            <th>MiniLotto</th>
            <td>{{ form_widget(form.ml.7) }}</td>
            <td>{{ form_widget(form.ml.8) }}</td>
            <td>{{ form_widget(form.ml.9) }}</td>
            <td>{{ form_widget(form.ml.10) }}</td>
            <td>{{ form_widget(form.ml.11) }}</td>
            <td>{{ form_widget(form.ml.12) }}</td>

        </tr>

        <tr>
            <td></td>
            <td colspan="100%">
                <button class="btn-primary btn">{{ "Save"|trans }}</button>
                <a class="btn btn-default" href="{{ path("panel_index") }}">{{ "Cancel"|trans }}</a>
            </td>
        </tr>
    </table>




    {{ form_rest(form) }}



    {{ form_end(form) }}


{% endblock %}
