{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendPanelBundle:GameCalendar:index{% endblock %}

{% block body_h1 %}
    {{ "Setting misc"|trans }}
{% endblock %}
{% block body %}



    {{ form_start(form) }}
    {{ form_rest(form) }}


    <div class="form-group">

        <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-primary">{{ "Save"|trans }}</button>
            <a href="{{ path("panel_misc") }}" class="btn btn-default">{{ "Cancel"|trans }}</a>
        </div>

    </div>


    {{ form_end(form) }}

{% endblock %}