{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendPanelBundle:GameCalendar:index{% endblock %}



{% block body_h1 %}
    {{ "Lottery calendar"|trans }}
{% endblock %}
{% block body %}




    {{ form_start(form) }}


    <table class="table table-bordered">

        <tr>
            <td></td>
            <td>{{ "Monday"|trans }}</td>
            <td>{{ "Tuesday"|trans }}</td>
            <td>{{ "Wednesday"|trans }}</td>
            <td>{{ "Thursday"|trans }}</td>
            <td>{{ "Friday"|trans }}</td>
            <td>{{ "Satruday"|trans }}</td>
            <td>{{ "Sunday"|trans }}</td>
            <td>{{ "Hour"|trans }}</td>
        </tr>

        <tr>
            <th>Lotto</th>
            <td>{{ form_widget(form.l.1) }}</td>
            <td>{{ form_widget(form.l.2) }}</td>
            <td>{{ form_widget(form.l.3) }}</td>
            <td>{{ form_widget(form.l.4) }}</td>
            <td>{{ form_widget(form.l.5) }}</td>
            <td>{{ form_widget(form.l.6) }}</td>
            <td>{{ form_widget(form.l.7) }}</td>
            <td>{{ form_widget(form.l.hour) }}</td>
        </tr>

        <tr>
            <th>MiniLotto</th>
            <td>{{ form_widget(form.ml.1) }}</td>
            <td>{{ form_widget(form.ml.2) }}</td>
            <td>{{ form_widget(form.ml.3) }}</td>
            <td>{{ form_widget(form.ml.4) }}</td>
            <td>{{ form_widget(form.ml.5) }}</td>
            <td>{{ form_widget(form.ml.6) }}</td>
            <td>{{ form_widget(form.ml.7) }}</td>
            <td>{{ form_widget(form.ml.hour) }}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="100%">
                <button class="btn-primary btn">{{ "Save"|trans }}</button>
                <a class="btn btn-default" href="{{ path("panel_index") }}">{{ "Cancel"|trans }}</a>
            </td>
        </tr>
    </table>


    {{ form_rest(form) }}
    {{ form_end(form) }}


{% endblock %}
