{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendPanelBundle:GameCalendar:index{% endblock %}

{% block body_h1 %}
    {{ "Auto player"|trans }}
{% endblock %}
{% block body %}



    {{ form_start(form) }}


    <table class="table table-bordered">
        <tr>
            <th colspan="100%">
                {{ "Who and how often?"|trans }}
            </th>

        </tr>
        <tr>
            <th class="text-right">{{ "User id auto player"|trans }}</th>
            <td>{{ form_widget(form.user_id) }}</td>
        </tr>
        <tr>
            <th class="text-right">{{ "Firstname"|trans }}</th>
            <td>{{ form_widget(form.firstname) }}</td>
        </tr>
        <tr>
            <th class="text-right">{{ "Lastname"|trans }}</th>
            <td>{{ form_widget(form.lastname) }}</td>
        </tr>
        <tr>
            <th class="text-right">{{ "Frequency"|trans }}</th>
            <td>{{ form_widget(form.frequency) }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="btn-primary btn">{{ "Save"|trans }}</button>
                <a class="btn btn-default" href="{{ path("panel_index") }}">{{ "Cancel"|trans }}</a>
            </td>
        </tr>

        <tr>
            <th colspan="100%">
                {{ "Share level"|trans }}
            </th>
        </tr>
        <tr>
            <th class="text-right">
                {{ "Max share level"|trans }}
            </th>
            <td>
                {{ form_widget(form.share) }}
                <div class="help-box">
                    {{ "Max share level help box"|trans }}
                </div>
            </td>

        </tr>
        <tr>
            <td></td>
            <td>
                <button class="btn-primary btn">{{ "Save"|trans }}</button>
                <a class="btn btn-default" href="{{ path("panel_index") }}">{{ "Cancel"|trans }}</a>
            </td>
        </tr>


        <tr>
            <th colspan="100%">
                {{ "Game logick"|trans }} <br>
                <small>{{ "Game logick description"|trans }}</small>
            </th>
        </tr>

        {% set logics = ["logickTo10","logickTo11x30","logickTo31x60","logickTo61x90","logickTo91x95"] %}


        {% for logic in logics %}

            <tr>
                <td colspan="100%">
                    <strong>{{ logic~" Header"|trans }}</strong><br>
                    {{ "Logick Prefix Desc"|trans }}
                    {{ form_widget(form[logic]) }}
                    {{ "Logick Suffix Desc"|trans }}
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td></td>
            <th colspan="100%">
                <button class="btn-primary btn">{{ "Save"|trans }}</button>
                <a class="btn btn-default" href="{{ path("panel_index") }}">{{ "Cancel"|trans }}</a>
            </th>
        </tr>

    </table>

    {{ form_rest(form) }}

    {{ form_end(form) }}


{% endblock %}
