{{ form_start(form) }}


<table class="table table-bordered">
    <tr>
        <th>
            {{ "E-mail"|trans }}
        </th>
        <td>{{ form_widget(form.email) }}</td>
    </tr>
    <tr>
        <th>
            {{ "Firstname"|trans }}
        </th>
        <td>{{ form_widget(form.firstname) }}</td>
    </tr>
    <tr>
        <th>
            {{ "Lastname"|trans }}
        </th>
        <td>{{ form_widget(form.lastname) }}</td>
    </tr>
    <tr>
        <th>
            {{ "Is Enabled"|trans }}
        </th>
        <td>{{ form_widget(form.enabled) }}</td>
    </tr>
    <tr>
        <th>
            {{ "Password"|trans }}
        </th>
        <td>{{ form_widget(form.plain_password.first) }}
            <div class="help-block">
                {{ "Leave blank to not change"|trans }}
            </div>
        </td>
    </tr>
    <tr>
        <th>
            {{ "Password (repeat)"|trans }}
        </th>
        <td>{{ form_widget(form.plain_password.second) }}</td>
    </tr>
    <tr>
        <th>
            {{ "Group"|trans }}
        </th>
        <td>
            {% for group in form.groups %}
                {{ form_widget(group) }}
                {{ form_label(group) }}
                <br>
            {% endfor %}

        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button class="btn btn-primary">{{ "Save"|trans }}</button>
            <a href="{{ path("panel_admin_list") }}" class="btn btn-default">{{ "Cancel"|trans }}</a>
        </td>
    </tr>
</table>


{{ form_rest(form) }}



{{ form_end(form) }}