{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendUserBundle:AdminList:add{% endblock %}




{% block body_h1 %}
    {{ "Admin add form"|trans }}
{% endblock %}
{% block body %}
    {% include "BackendUserBundle:AdminList:_form.html.twig" %}
{% endblock %}
