{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendUserBundle:AdminList:delete{% endblock %}

{% block body_h1 %}
    {{ "Delete admin confirm"|trans }}
{% endblock %}
{% block body %}


    <form method="post">
        <button class=" btn btn-danger" type="submit">{{ "Delete-confirm"|trans }}: {{ user.email }}</button>
    </form>


    <a href="{{ path("panel_admin_list") }}" class="btn btn-default">{{ "Back to list"|trans }}</a>
{% endblock %}
