{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendUserBundle:AdminList:edit{% endblock %}

{% block body_h1 %}
    {{ "Edit admin"|trans }}: {{ user.email }}
{% endblock %}
{% block body %}
    {% include "BackendUserBundle:AdminList:_form.html.twig" %}
{% endblock %}