{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendUserBundle:AdminList:index{% endblock %}

{% block body_h1 %}
    {{ "Admin list"|trans }}
    <a class="btn btn-primary pull-right" href="{{ path("panel_admin_list_add") }}">
        <i class="fa fa-plus"></i>

        {{ "Add"|trans }}</a>
{% endblock %}
{% block body %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ "table-id"|trans }}</th>
            <th>{{ "table-name-surname"|trans }}</th>
            <th>{{ "table-login-email"|trans }}</th>
            <th>{{ "table-group"|trans }}</th>
            <th>{{ "table-status"|trans }}</th>
            <th>{{ "table-actions"|trans }}</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <th>{{ user.id }}</th>
                <td>
                    {{ user.firstname }}
                    {{ user.lastname }}
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.groupNames }}</td>
                <td>{{ user.enabled }}</td>
                <td>
                    <a href="{{ path("panel_admin_list_delete", {user:user.id}) }}">{{ "Delete"|trans }}</a>
                    <a href="{{ path("panel_admin_list_edit", {user:user.id}) }}">{{ "Edit"|trans }}</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
