{{ form_start(form) }}
<table class="table table-bordered">
    <tr>
        <th>
            {{ "Name"|trans }}
        </th>
        <td>{{ form_widget(form.name) }}</td>
    </tr>
    <tr>
        <th>
            {{ "Roles"|trans }}
        </th>
        <td>
            {% for role in form.roles %}
                {{ form_widget(role) }}
                {{ form_label(role) }}
                <br>

            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <button class="btn btn-primary">{{ "Save"|trans }}</button>
            <a href="{{ path("panel_admin_group") }}" class="btn btn-default">{{ "Back to list"|trans }}</a>
        </td>
    </tr>

    </table>
    {{ form_rest(form) }}

{{ form_end(form) }}