{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendUserBundle:AdminGroup:add{% endblock %}

{% block body_h1 %}
{{ "Add admin group"|trans }}

{% endblock %}
{% block body %}
    {% include "@BackendUser/AdminGroup/_form.html.twig" %}

{% endblock %}
