{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendUserBundle:AdminGroup:add{% endblock %}

{% block body %}
    <h1>Confirm</h1>


    <form method="post">
        <button type="submit">{{ "delete-confirm"|trans }}</button>
    </form>


    <a href="{{ path("panel_admin_group") }}" class="btn btn-default">{{ "back to list"|trans }}</a>
{% endblock %}
