{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendUserBundle:AdminGroup:edit{% endblock %}


{% block body_h1 %}
    {{ "Edit admin group"|trans }}: {{ group.name }}

{% endblock %}
{% block body %}
    {% include "@BackendUser/AdminGroup/_form.html.twig" %}

{% endblock %}