{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendUserBundle:AdminGroup:index{% endblock %}

{% block body_h1 %}
    {{ "Admin groups"|trans }}
    <a class="btn btn-primary pull-right" href="{{ path("panel_admin_group_add") }}">
        <i class="fa fa-plus"></i>
        {{ "Add"|trans }}</a>
{% endblock %}
{% block body %}




    <table class="table table-bordered ">
        <thead>
        <tr>
            <th>{{ "table-id"|trans }}</th>
            <th>{{ "table-name"|trans }}</th>
            <th>{{ "table-user-cnt"|trans }}</th>
            <th>{{ "table-actions"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}

            <tr>
                <th>{{ group.id }}</th>
                <th>{{ group.name }}</th>
                <td>{{ group.userCnt }}</td>
                <td>
                    <a href="{{ path("panel_admin_group_delete",{group: group.id}) }}">{{ "Delete"|trans }}</a>
                    <a href="{{ path("panel_admin_group_edit",{group: group.id} ) }}">{{ "Edit"|trans }}</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>


{% endblock %}
