{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendPanelBundle:GameCalendar:index{% endblock %}

{% block body_h1 %}
    {{ "Coupn map"|trans }}
{% endblock %}
{% block body %}



    <div class="help-box">

        {{ "Position X"|trans }} - {{ "Position X desc"|trans }}<br>
        {{ "Position Y"|trans }} - {{ "Position Y desc"|trans }}<br>
        {{ "Width"|trans }} - {{ "Width desc"|trans }}<br>
        {{ "Length"|trans }} - {{ "Length desc"|trans }}<br>
    </div>



    {{ form_start(form) }}


    <table class="table table-bordered">


        <thead>
        <tr>
            <th>{{ "Coupn width"|trans }}</th>
            <td >{{ form_widget(form.coupon_width, {attr:{size:6}}) }}</td>

            <th>{{ "Coupn height"|trans }}</th>
            <td>{{ form_widget(form.coupon_height, {attr:{size:6}}) }}</td>
            <td colspan="100%"></td>
        </tr>
        <tr>
            <th>{{ "Field number"|trans }}</th>
            <th>{{ "Position X"|trans }} [px]</th>
            <th>{{ "Position Y"|trans }} [px]</th>
            <th>{{ "Width"|trans }} [px]</th>
            <th>{{ "Length"|trans }} [px]</th>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td>
                <button class="btn btn-default btn-xs btn-repeat" data-name="width"
                        type="button">{{ "Repat all"|trans }}</button>
            </td>
            <td>
                <button class="btn btn-default btn-xs btn-repeat" data-name="legnth"
                        type="button">{{ "Repat all"|trans }}</button>
            </td>
        </tr>
        </thead>
        <tbody>
        {% for i in 1..46 %}
            <tr>
                <th>{{ i }}</th>
                <td>{{ form_widget(form[i].x) }}</td>
                <td>{{ form_widget(form[i].y) }}</td>
                <td>{{ form_widget(form[i].width) }}</td>
                <td>{{ form_widget(form[i].length) }}</td>
            </tr>

        {% endfor %}
        {% for i in 7..12 %}

            {% set i = "system"~i %}
            <tr>
                <th>{{ i }}</th>
                <td>{{ form_widget(form[i].x) }}</td>
                <td>{{ form_widget(form[i].y) }}</td>
                <td>{{ form_widget(form[i].width) }}</td>
                <td>{{ form_widget(form[i].length) }}</td>
            </tr>
        {% endfor %}


        <tr>
            <th></th>
            <td colspan="100%">
                <button class="btn-primary btn">{{ "Save"|trans }}</button>
                <a class="btn btn-default" href="{{ path("panel_index") }}">{{ "Cancel"|trans }}</a>
            </td>
        </tr>

        </tbody>


    </table>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <hr>

    <h2>    {{ "Generate test"|trans }}
    </h2>
    <a href="{{ path("panel_coupon_map_generate", {"system": 7}) }}" class="btn btn-primary">{{ "Generate test" }}:
        7</a> <br>
    <a href="{{ path("panel_coupon_map_generate", {"system": 8}) }}" class="btn btn-primary">{{ "Generate test" }}:
        8</a><br>
    <a href="{{ path("panel_coupon_map_generate", {"system": 9}) }}" class="btn btn-primary">{{ "Generate test" }}:
        9</a><br>
    <a href="{{ path("panel_coupon_map_generate", {"system": 10}) }}" class="btn btn-primary">{{ "Generate test" }}:
        10</a><br>
    <a href="{{ path("panel_coupon_map_generate", {"system": 11}) }}" class="btn btn-primary">{{ "Generate test" }}:
        11</a><br>
    <a href="{{ path("panel_coupon_map_generate", {"system": 12}) }}" class="btn btn-primary">{{ "Generate test" }}:
        12</a>


{% endblock %}
