<ul class="nav nav-tabs">
    <li {% if app.request.attributes.get('_route') == "panel_user_detail" %} class="active" {% endif %}>
        <a href="{{ path("panel_user_detail", {user:user.id}) }}">{{ "Edit data"|trans }}</a>
    </li>
    <li {% if app.request.attributes.get('_route') == "panel_user_detail_history" %} class="active" {% endif %}>
        <a href="{{ path("panel_user_detail_history", {user:user.id}) }}">{{ "User history"|trans }}</a>
    </li>
    <li {% if app.request.attributes.get('_route') == "panel_user_detail_wins" %} class="active" {% endif %}>
        <a href="{{ path("panel_user_detail_wins", {user:user.id}) }}">{{ "Wins"|trans }}</a>
    </li>
    <li {% if app.request.attributes.get('_route') == "panel_user_detail_amount" %} class="active" {% endif %}>
        <a href="{{ path("panel_user_detail_amount", {user:user.id}) }}">{{ "Amount modification"|trans }}</a>
    </li>
    <li {% if app.request.attributes.get('_route') == "panel_user_detail_note" %} class="active" {% endif %}>
        <a href="{{ path("panel_user_detail_note", {user:user.id}) }}">{{ "Notes"|trans }}</a>
    </li>
</ul>