{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}


{% block body_h1 %}
    <a target="_blank" href="{{ path("panel_user_login", {user:user.id}) }}" class="pull-right btn btn-primary">{{ "Login"|trans }}</a>

    {{ "Manage"|trans }}: {{ user.firstname }} {{ user.lastname }}, {{ user.email }}
    <br>

    <small>{{ "User amount" }}: {{ user.amount }}</small>






{% endblock %}