{% extends "@BackendUser/UserDetail/_userLayout.html.twig" %}


{% block body %}

    {% include "BackendUserBundle:UserDetail:_menu.html.twig" %}

    <h2>{{ "Edit data"|trans }}</h2>


    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.enabled) }}
    {{ form_row(form.user_data.address_city) }}
    {{ form_row(form.user_data.address_city_code) }}
    {{ form_row(form.user_data.address_street) }}




    {{ form_rest(form) }}


    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-primary">{{ "Save"|trans }}</button>
            <a class="btn btn-default" href="{{ path("panel_user_detail", {user:user.id}) }}">{{ "Cancel"|trans }}</a>
        </div>
    </div>

    {{ form_end(form) }}


{% endblock %}
