{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendUserBundle:UserDetail:wins{% endblock %}

{% block body_h1 %} {{ ""|trans }} {% endblock %}{% block body %}
    {% include "BackendUserBundle:UserDetail:_menu.html.twig" %}

    <h1>Welcome to the UserDetail:wins page</h1>
{% endblock %}
