{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendPanelBundle:GameCalendar:index{% endblock %}

{% block body_h1 %}
    {{ "Coupn close setting"|trans }}
{% endblock %}
{% block body %}


    {{ form_start(form) }}

    <table class="table table-bordered">
        <tr>
            <th>Lotto</th>
            <td>{{ form_widget(form.l) }}</td>
        </tr>
        <tr>
            <th>MiniLotto</th>
            <td>{{ form_widget(form.ml) }}</td>
        </tr>
        <tr>
            <th>
            </th>
            <th>
                <button class="btn-primary btn">{{ "Save"|trans }}</button>
                <a class="btn btn-default" href="{{ path("panel_index") }}">{{ "Cancel"|trans }}</a>
            </th>
        </tr>
    </table>
    {{ form_rest(form) }}



    {{ form_end(form) }}


{% endblock %}
