{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}

{% block title %}BackendTestBundle:Index:index{% endblock %}

{% block body_h1 %}
    {{ "Test system"|trans }}
{% endblock %}

{% block body %}



    {% for name,form in forms %}
        <h2>{{ name }}</h2>
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

        {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="form-group ">
            <div class="col-sm-10 col-sm-offset-2">
                <button class=" btn btn-primary">{{ "Generate"|trans }}</button>
            </div>
        </div>
        {{ form_end(form) }}

    {% endfor %}




    <h1>Backups</h1>
    <ul>
        {% for file in backup_list %}
            <li>
                {{ file.fileName }}
                {{ file.getSize|readable_filesize }}
                <a href="{{ path("panel_test_restore", {filePath: file.getRealpath}) }}">{{ "Restore backup"|trans }}</a>
            </li>


        {% endfor %}
    </ul>
{% endblock %}
