{% extends "@BackendPanel/Layout/panelLayout.html.twig" %}




{% block body_h1 %}
    {{ "Login page"|trans }}
{% endblock %}
{% block body %}



    {% if error %}
        {{ error.message }}
    {% endif %}


    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <form action="{{ path('panel_security_login_check') }}" method="post" class="form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

                <div class="form-group">

                    <label for="username" class="form-label">{{ "Email"|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="password">{{ "Password"|trans }}</label>
                    <input type="password" id="password" name="_password" class="form-control"/>
                </div>

                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="{{ "Login"|trans }}">
                </div>


            </form>
        </div>
    </div>
{% endblock %}
